{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>Add Credits</h1>
            <form method="post">
                {% csrf_token %}
                <div class="input-wrapper">
                    <span class="dollar-sign">$</span>
                    {{ form.amount }}
                </div>
                <button class="btn">Submit</button>
                <p>Note: Credits must be added in increments of $5</p>
            </form>
        </div>
    </main>
{% endblock content %}