{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description">
        <meta name="keywords">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <header>
                <nav>
                    {% if user.is_authenticated %}
                    <h2>Welcome, {{ user.username }}!</h2>
                            {% with user_account=user.account %}
                            {% if user_account %}
                                <p>Account Credits: ${{ user_account.balance }} {{ user_account.currency }}</p>
                    <ul>
                                <li><a href="{% url 'add_credits' %}">Add Credits</a></li>
                            {% endif %}
                            {% endwith %}
                            <li>
                                <a href="{% url "logout" %}">Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url "signup" %}">Signup</a>
                            </li>
                            <li>
                                <a href="{% url "login" %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>
            <footer class="footer">
                <p>Made by Julius Pagtakhan</p>
            </footer>
        </div>
    </body>
</html>
