{% extends "base.html" %}

{% block content %}
    <h1>Blackjack Game</h1>
    <p>Beat The Dealer. There are some misconceptions about the objective of the game of blackjack but at the simplest level all you are trying to do is beat the dealer.</p>
    <h4>How do you beat the dealer?</h4>
    <ol>
        <li>By drawing a hand value that is higher than the dealer’s hand value</li>
        <li>By the dealer drawing a hand value that goes over 21.</li>
        <li>By drawing a hand value of 21 on your first two cards, when the dealer does not.</li>
    </ol>
    <h4>How do you lose to the dealer? </h4>
    <ol>
        <li>Your hand value exceeds 21.</li>
        <li>The dealers hand has a greater value than yours at the end of the round</li>
    </ol>
    <br>
    <form method="post" action="{% url 'blackjack:start_game' %}">
        {% csrf_token %}
        <label for="money">Enter Wager:</label>
        <div class="input-wrapper">
            <span class="dollar-sign">$</span>
            <input type="number" name="money" id="money" required step="5" min="5" max="{{ user.account.balance }}">
        </div>
        <button type="submit" class="btn">Start Game</button>
        <p class="note">Note: Wager must be in increments of $5</p>
    </form>
    {% if user.account.balance < 5 %}
        <p>You don't have enough balance to play.</p>
    {% endif %}
{% endblock content %}
