{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description">
    <meta name="keywords">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Blackjack Game</title>
</head>
<body>
    <div class="wrapper">
    <header>
        <nav>
            {% if user.is_authenticated %}
                <h2>Good luck, {{ user.username }}!</h2>
                <ul>
                    {% with user_account=user.account %}
                        {% if user_account %}
                            <li>Balance: ${{ user_account.balance }} {{ user_account.currency }}</li>
                        {% endif %}
                    {% endwith %}
                </ul>
            {% endif %}
        </nav>
    </header>
    <div class="content">
        <h1>Blackjack Game</h1>
        <p>Initial Wager: ${{ initial_wager }}</p>
        <p>Note: Dealer will stand when >= 17</p>
        <h2>
            Dealer's Hand:
            {% if dealer_sum %}{{ dealer_sum }}{% endif %}
        </h2>
        <p>
            {% for card in dealer_hand %}
                {% if forloop.last %}
                    {{ card }}
                {% else %}
                    {{ card }}{% if not forloop.last %}, {% endif %}
                {% endif %}
            {% endfor %}
        </p>
        <h2>
            Player's Hand:
            {% if player_sum %}{{ player_sum }}{% endif %}
        </h2>
        <p>
            {% for card in player_hand %}
                {% if forloop.last %}
                    {{ card }}
                {% else %}
                    {{ card }}{% if not forloop.last %}, {% endif %}
                {% endif %}
            {% endfor %}
        </p>
        <br>
        {% if not result %}
        <div class="button-container">
            <form method="post" action="{% url 'start_game' %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="hit">
                <button type="submit" class="btn" aria-label="Hit">Hit</button>
            </form>
            <form method="post" action="{% url 'start_game' %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="stay">
                <button type="submit" class="btn" aria-label="Stay">Stay</button>
            </form>
        </div>
        {% endif %}
        {% if result %}
            <h4>
                {% if result != "It's a tie!" %}{{ result }}{% endif %}
            </h4>
            {% if result != "It's a tie!" %}
                {% if result == "You win!" %}
                    <p>You wagered ${{ initial_wager }}. You won ${{ winnings }}.</p>
                    <p>Your new balance is ${{ new_balance }}.</p>
                {% else %}
                    <p>You wagered ${{ initial_wager }}, so you lost ${{ initial_wager }}.</p>
                    <p>Your new balance is ${{ balance }}.</p>
                {% endif %}
            {% endif %}
            {% if result == "It's a tie!" %}
                <h4>It's a tie!</h4>
                <p>Your wager of ${{ initial_wager }} has been returned to your credits balance.</p>
                <form method="get" action="{% url 'home' %}">
                    <button type="submit" class="btn" aria-label="Play Again">Play Again</button>
                </form>
            {% else %}
                {% if result != "It's a tie!" %}
                    <form method="get" action="{% url 'home' %}">
                        <button type="submit" class="btn" aria-label="Play Again">Play Again</button>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    <footer class="footer">
        <p>Made by Julius Pagtakhan</p>
    </footer>
    </div>
</body>
</html>
