{% extends "base.html" %}

{% block content %}
<head>
    <title>Blackjack Game</title>
</head>
<body>
    <h1>Blackjack Game</h1>
    <h2>Game Result</h2>
    <p>Dealer's Hand: {{ revealed_dealer_hand|join:", " }}</p>
    <p>Player's Hand: {{ player_hand|join:", " }}</p>

    {% if session.outcome == "win" %}
        <p>Congratulations! You won the game.</p>
    {% elif session.outcome == "lose" %}
        <p>Sorry! You lost the game.</p>
    {% else %}
        <p>It's a tie!</p>
    {% endif %}

    <a href="{% url 'blackjack:home' %}">Play Again</a>
</body>
{% endblock content %}
