/* Set all elements to use the Open Sans font */
body,
input,
textarea,
button,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Set the background color of all pages */
html,
body {
  background-color: #adc495;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h4,
p,
a {
  display: block;
  text-align: center;
}

/* Center text in buttons */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}

/* Set the style of the navigation list */
header nav ul {
  background-color: rgb(180, 180, 180);
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  list-style: none;
  margin-top: 0;
  margin-bottom: 2em;
  padding: 0 0 0 1em;
}

/* Set the spacing and layout of the nav list items */
header nav ul li {
  display: inline-block;
  margin: 0 1em;
  padding: 1em 0 1em 0;
}

/* Set the style of the links in the nav */
header nav ul li a {
  font-weight: bold;
  text-decoration: none;
}

/* Make the input tags look nicer */
input {
  height: 1.5em;
  margin: 0;
  padding: 0.25em 0.5em;
}

/* Make the wager input box look nicer */
.input-wrapper {
  display: flex;
  align-items: center;
}

/* Make the wager input box look nicer */
.dollar-sign {
  margin-right: 5px;
  color: #000;
  font-weight: bold;
}

/* Make the select boxes look nicer */
select {
  height: 2.5em;
}

/* Make the select-multiple boxes look nicer */
select[multiple] {
  height: 7.5em;
}

/* Make the textarea inputs look nicer */
textarea {
  margin: 0;
  padding: 0.25em 0.5em;
}

/* Set the size of the help text in forms */
.helptext {
  display: block;
  font-size: 80%;
}

/* Make the login and sign-up forms look nicer */
.login-form,
.signup-form {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 400px;
  padding: 2em;
}

/* Standardize help text positions in the grid */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

form label,
form input,
form button,
form p {
  margin-bottom: 10px;
}

/* Make the footer stick to the bottom of the page */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

footer {
  background-color: rgb(180, 180, 180);
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  padding: 40px;
  margin-top: auto;
}

/* Adjust the footer position on the start_game page */
.start_game footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
